@font-face {
  font-family: "iconfont"; /* Project id 3735352 */
  src: url('iconfont.woff2?t=1667202636072') format('woff2'),
       url('iconfont.woff?t=1667202636072') format('woff'),
       url('iconfont.ttf?t=1667202636072') format('truetype'),
       url('iconfont.svg?t=1667202636072#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo-copy:before {
  content: "\e614";
}

.icon-yonghu_2x-copy:before {
  content: "\e613";
}

.icon-yonghu_2x:before {
  content: "\e612";
}

.icon-left-mini:before {
  content: "\e601";
}

.icon-right-mini:before {
  content: "\e602";
}

.icon-a-iconcolor:before {
  content: "\e603";
}

.icon-down-mini:before {
  content: "\e604";
}

.icon-required:before {
  content: "\e605";
}

.icon-touxiang:before {
  content: "\e606";
}

.icon-xinxi:before {
  content: "\e607";
}

.icon-mima:before {
  content: "\e608";
}

.icon-yonghuming:before {
  content: "\e609";
}

.icon-yidongduan:before {
  content: "\e60a";
}

.icon-a-xiugai1x:before {
  content: "\e60b";
}

.icon-a-pifu1x:before {
  content: "\e60c";
}

.icon-a-wodequanxian1x:before {
  content: "\e60d";
}

.icon-a-tuichu1x:before {
  content: "\e60e";
}

.icon-a-bangzhu1x:before {
  content: "\e60f";
}

.icon-yanzhengma:before {
  content: "\e610";
}

.icon-a-rizhi1x:before {
  content: "\e611";
}

.icon-password:before {
  content: "\e600";
}

